@page "/Comentarios"


<PageTitle>Datos </PageTitle>



@using YoutrackReport.Servicios.Contrato;
@using YoutrackReport.Data
@using YoutrackReport.DTOs


@inject IObtieneComentario comentarios;


<h2>Comentarios</h2>

@if (comentario== null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>text</th>
                <th>author</th>
                <th>deleted</th>
                <th>updated</th>
                <th>visibility</th>
                <th>id</th>
                <th>type</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var dato in comentario)
            {
                <tr>
                    <td>@dato.text</td>
                    <td>@dato.author</td>
                    <td>@dato.deleted</td>
                    <td>@dato.updated</td>
                    <td>@dato.visibility</td>
                    <td>@dato.id</td>
                    <td>@dato.type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ComentarioDTO> comentario;



    protected override async Task OnInitializedAsync()
    {
        await ObtenerData();


    }

    private async Task<List<ComentarioDTO>> ObtenerData()
    {

        return comentario = await comentarios.ObtieneComentarios();
    }



}

