@page "/FiltrosQA"
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using YoutrackReport.DTOs
@using YoutrackReport.Servicios.Contrato
@using System.Collections.Generic
@using YoutrackReport.Servicios.Impllementacion

@inject ObtieneMetricas ObtieneMetricasService


<!-- Archivo CSS para estilos de las cartas -->
@* <link rel="stylesheet" href="~/css/metricasStyle.css" /> *@


<!-- INICIO HTML -->

<div class="container text-center">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <h2>Filtros QA</h2>
        </div>
    </div>

    @if (metricas != null)
    {
        <!-- TABLA Filtros QA -->
        <div class="row" style="padding-top: 50px">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Jefe de proyectos</th>
                            <th scope="col">Pendientes</th>
                            <th scope="col">Estado fallido</th>
                            <th scope="col">Exitoso</th>
                            <th scope="col">Incidencias con QA</th>
                            <th scope="col">Incidencias sin QA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jefeProyecto in lista.kPI_Lista_JPs)
                        {
                            <tr>
                                <td class="text-start">@jefeProyecto.NomJP</td>
                                <td>@jefeProyecto.QAPendiente</td>
                                <td>@jefeProyecto.QAFallido</td>
                                <td>@jefeProyecto.QAExitoso</td>
                                <td>@jefeProyecto.ConQACount</td>
                                <td>@jefeProyecto.SinQACount</td>
                                @* <td>
                                    <!-- Cambio en el atributo data-bs-target para incluir el hash del nombre del jefe de proyecto -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="@($"#exampleModal{jefeProyecto.NomJP.GetHashCode()}")" @onclick="(() => traerDatosDetallesQA(jefeProyecto.NomJP))">
                                        Detalles atrasos
                                    </button>
                                </td> *@
                            </tr>

                            @* <!-- Modal -->
                            <!-- Cambio en el id del modal para incluir el hash del nombre del jefe de proyecto -->
                            <div class="modal fade" id="@($"exampleModal{jefeProyecto.NomJP.GetHashCode()}")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <!-- Cambio en el título del modal para incluir el nombre del jefe de proyecto -->
                                            <h5 class="modal-title" id="exampleModalLabel">Detalles atrasos del jefe de proyecto @jefeProyecto.NomJP</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @if (cargandoDetallesJP == jefeProyecto.NomJP)
                                            {
                                                <!-- Spinner para indicar que se están cargando los detalles -->
                                                <div class="spinner-border" role="status">
                                                    <span class="visually-hidden">Cargando...</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Nombre proyecto</th>
                                                            <th scope="col">Id</th>
                                                            <th scope="col">Desarrollador</th>
                                                            <th scope="col">Estado</th>
                                                            <th scope="col">QA sin fechas</th>
                                                            <th scope="col">Url Jira</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var atrasoModal in listaQAFechasNulas)
                                                        {
                                                            <tr>
                                                                <td>@atrasoModal.Subsystem</td>
                                                                <td>@atrasoModal.IDMh</td>
                                                                <td>@atrasoModal.Assignee</td>
                                                                <td>@atrasoModal.State</td>
                                                                <td>@(atrasoModal.FechaTerminoQA != null ? atrasoModal.FechaTerminoQA.ToString() : "Sin fecha")</td>
                                                                <td><a href="@atrasoModal.URLJira" target="_blank">Ir</a></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    }
</div>

<!-- FIN HTML -->
@code {
    private string cargandoDetallesJP = null;

    private List<FieldsDTO> metricas;
    public int totalProyectos = 0;
    private MetricasKPI lista = new();
    private List<FieldsDTO> listaQAFechasNulas = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            metricas = await ObtieneMetricasService.ObtenerDatosComunes("https://prosysspa.youtrack.cloud/api/issues?fields=customFields(name,value(name)),project(name,value)");

            if (metricas != null)
            {
                totalProyectos = metricas.Count;
                MetricasKPI metricasKPI = ObtieneMetricasService.CalcularTotales(metricas);
                metricasKPI = await ObtieneMetricasService.CalcularTotalesPorJP(metricas, metricasKPI);
                lista = metricasKPI;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al obtener métricas: {ex.Message}");
        }
    }

    // private async Task traerDatosDetallesQA(string jefeProyecto)
    // {
    //     try
    //     {
    //         // Establecer la variable de carga para mostrar el spinner
    //         cargandoDetallesJP = jefeProyecto;
    //         // Forzar la actualización del estado para que se refleje inmediatamente en la interfaz de usuario
    //         StateHasChanged();

    //         metricas = await ObtieneMetricasService.ObtenerDatosComunes("https://prosysspa.youtrack.cloud/api/issues?fields=customFields(name,value(name)),project(name,value)");
    //         listaQAFechasNulas = ObtieneMetricasService.DetallesQAFechasNull(metricas, jefeProyecto);
    //     }
    //     finally
    //     {
    //         // Restablecer la variable de carga después de completar la obtención de datos
    //         cargandoDetallesJP = null;
    //     }
    // }

}
