@page "/Metricas"
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using YoutrackReport.DTOs
@using YoutrackReport.Servicios.Contrato
@using System.Collections.Generic
@using YoutrackReport.Servicios.Impllementacion

@inject ObtieneMetricas ObtieneMetricasService


<!-- Archivo CSS para estilos de las cartas -->
<link rel="stylesheet" href="~/css/metricasStyle.css" />


<!-- INICIO HTML -->

<div class="container text-center">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <h2>Métricas</h2>
        </div>
    </div>

    @if (metricas != null)
    {
        <div class="row">
            <div class="col-md-12">

                <div class="card text-dark bg-light mb-3">

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md">
                                <div class="card text-dark bg-info mb-3 estado-box">
                                    <div class="card-body">
                                        <h5 class="card-title">Total de proyectos</h5>
                                        <p class="card-text">@totalProyectos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card text-dark bg-warning mb-3 estado-box">
                                    <div class="card-body">
                                        <h5 class="card-title">En curso</h5>
                                        <p class="card-text">@lista.CantidadEnCurso</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card text-white bg-success mb-3 estado-box">
                                    <div class="card-body">
                                        <h5 class="card-title">Terminado</h5>
                                        <p class="card-text">@lista.CantidadTerminado</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>

        <div class="row" style="padding-top: 50px">
            <div class="col-12">
                <!-- <div class="col-header">Proyectos por jefe de proyectos</div> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Jefe de proyectos</th>
                            <th scope="col">Total</th>
                            <th scope="col">Terminados</th>
                            <th scope="col">En curso</th>
                            <th scope="col">Desarrollo</th>
                            <th scope="col">Detenido</th>
                            <th scope="col">Por iniciar</th>
                            <th scope="col">Atrasados</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jefeProyecto in lista.kPI_Lista_JPs)
                        {
                            <tr>
                                <td>@jefeProyecto.NomJP</td>
                                <td>@jefeProyecto.TotalJP</td>
                                <td>@jefeProyecto.CantidadTerminadoJP </td>
                                <td>@jefeProyecto.CantidadEncursoJP</td>
                                <td>@jefeProyecto.CantidadDesarrolloJP</td>
                                <td>@jefeProyecto.CantidadDetenidoJP</td>
                                <td>@jefeProyecto.CantidadPorIniciarJP</td>
                                @* <td>@jefeProyecto.atrasosReal</td> *@
                                @* <td>@jefeProyecto.atrasosQA</td> *@
                                @* <td>@jefeProyecto.atrasosDesa</td> *@
                                <td>@jefeProyecto.TotalAtrasosJP</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    }
    else
    {
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    }

</div>

<!-- FIN HTML -->
@code {
    private List<FieldsDTO> metricas;
    public int totalProyectos = 0;
    private MetricasKPI lista = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {

            metricas = await ObtieneMetricasService.ObtenerDatosComunes("https://prosysspa.youtrack.cloud/api/issues?fields=customFields(name,value(name))");

            if (metricas != null)
            {
                totalProyectos = metricas.Count;

                MetricasKPI metricasKPI = ObtieneMetricasService.CalcularTotales(metricas);
                metricasKPI = await ObtieneMetricasService.CalcularTotalesPorJP(metricas, metricasKPI);
                lista = metricasKPI;

            }
        }
        catch (Exception ex)
        {
            // Manejar la excepción según tus necesidades (por ejemplo, mostrar un mensaje de error)
            Console.WriteLine($"Error al obtener métricas: {ex.Message}");
        }
    }

}
