@page "/Metricas"
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using YoutrackReport.DTOs
@using YoutrackReport.Servicios.Contrato
@using System.Collections.Generic
@using YoutrackReport.Servicios.Impllementacion

@inject ObtieneMetricas ObtieneMetricasService


<!-- Archivo CSS para estilos de las cartas -->
@* <link rel="stylesheet" href="~/css/metricasStyle.css" /> *@


<!-- INICIO HTML -->

<div class="container text-center">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <h2>Métricas</h2>
        </div>
    </div>

    @if (metricas != null)
    {
        <div class="row">
            <div class="col-md-12">

                <div class="card text-dark bg-light mb-3">

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md">
                                <div class="card text-dark bg-info mb-3 estado-box">
                                    <div class="card-body">
                                        <h5 class="card-title">Total de proyectos</h5>
                                        <p class="card-text">@totalProyectos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card text-dark bg-warning mb-3 estado-box">
                                    <div class="card-body">
                                        <h5 class="card-title">En curso</h5>
                                        <p class="card-text">@lista.CantidadEnCurso</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card text-white bg-success mb-3 estado-box">
                                    <div class="card-body">
                                        <h5 class="card-title">Terminado</h5>
                                        <p class="card-text">@lista.CantidadTerminado</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>

        //TABLA JP
        <div class="row" style="padding-top: 50px">
            <div class="col-12">
                <!-- <div class="col-header">Proyectos por jefe de proyectos</div> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Jefe de proyectos</th>
                            <th scope="col">Total</th>
                            <th scope="col">Terminados</th>
                            <th scope="col">En curso</th>
                            <th scope="col">Desarrollo</th>
                            <th scope="col">Detenido</th>
                            <th scope="col">Por iniciar</th>
                            <th scope="col">Atrasados</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jefeProyecto in lista.kPI_Lista_JPs)
                        {
                            <tr>
                                @* <td class="text-start"><a href="#" onclick="mostrarNomJP(@jefeProyecto.NomJP);return false;">@jefeProyecto.NomJP</a></td> *@
                                <td class="text-start">@jefeProyecto.NomJP</td>
                                <td>@jefeProyecto.TotalJP</td>
                                <td>@jefeProyecto.CantidadTerminadoJP </td>
                                <td>@jefeProyecto.CantidadEncursoJP</td>
                                <td>@jefeProyecto.CantidadDesarrolloJP</td>
                                <td>@jefeProyecto.CantidadDetenidoJP</td>
                                <td>@jefeProyecto.CantidadPorIniciarJP</td>
                                <td>@jefeProyecto.TotalAtrasosJP</td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="(() => traerDatosDetallesJP(jefeProyecto.NomJP))">
                                        Detalles atrasos
                                    </button>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detalles atrasos del jefe de proyecto @jefeProyecto.NomJP</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nombre proyecto</th>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Desarrollador</th>
                                                        <th scope="col">Atrasados En desarrollo</th>
                                                        <th scope="col">Atrasados QA</th>
                                                        <th scope="col">Atrasados Produccion</th>
                                                        <th scope="col">Url jira</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var atrasoModal in listaAtrasados)
                                                    {
                                                        <tr>
                                                            <td>@atrasoModal.Subsystem</td>
                                                            <td>@atrasoModal.IDMh</td>
                                                            <td>@atrasoModal.Assignee</td>
                                                            <td>
                                                                @atrasoModal.FechaTerminoDesa
                                                            </td>
                                                            <td>
                                                                @atrasoModal.FechaTerminoQA
                                                            </td>
                                                            <td>
                                                                @atrasoModal.FechaTerminoReal
                                                            </td>
                                                            <td>@atrasoModal.URLJira</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </tbody>
                </table>
            </div>
        </div>



    }
    else
    {
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    }

</div>

<!-- FIN HTML -->
@code {
    private List<FieldsDTO> metricas;
    public int totalProyectos = 0;
    private MetricasKPI lista = new();
    private List<FieldsDTO> listaAtrasados = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {

            metricas = await ObtieneMetricasService.ObtenerDatosComunes("https://prosysspa.youtrack.cloud/api/issues?fields=customFields(name,value(name))");

            if (metricas != null)
            {
                totalProyectos = metricas.Count;

                MetricasKPI metricasKPI = ObtieneMetricasService.CalcularTotales(metricas);
                metricasKPI = await ObtieneMetricasService.CalcularTotalesPorJP(metricas, metricasKPI);
                //listaAtrasados = ObtieneMetricasService.JPAtrasados(metricas);
                lista = metricasKPI;

            }
        }
        catch (Exception ex)
        {
            // Manejar la excepción según tus necesidades (por ejemplo, mostrar un mensaje de error)
            Console.WriteLine($"Error al obtener métricas: {ex.Message}");
        }
    }

    private async Task traerDatosDetallesJP(string jefeProyecto)
    {
        metricas = await ObtieneMetricasService.ObtenerDatosComunes("https://prosysspa.youtrack.cloud/api/issues?fields=customFields(name,value(name))");
        listaAtrasados = ObtieneMetricasService.DetallesJpAtrasados(metricas, jefeProyecto);
        //listaAtrasados = ObtieneMetricasService.JPAtrasados(metricas, jefeProyecto);
    }

}
