@page "/usuarios"

<PageTitle>Datos </PageTitle>



@using YoutrackReport.Servicios.Contrato;
@using YoutrackReport.Data
@using YoutrackReport.DTOs


@inject IObtieneUsuariosYoutrackService usuarios;

<h1>Usuarios</h1>

<p>Obtiene los datos de las cuentas YouTrack </p>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>fullName</th>
                <th>login</th>
                <th>email</th>
                <th>online</th>
                <th>banned</th>
                <th>id</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var dato in user)
            {
                <tr>
                    <td>@dato.name</td>
                    <td>@dato.fullName</td>
                    <td>@dato.login</td>
                    <td>@dato.email</td>
                    <td>@dato.online</td>
                    <td>@dato.banned</td>
                    <td>@dato.id</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UsuariosDTO> user;



    protected override async Task OnInitializedAsync()
    {
        await ObtenerData();


    }

    private async Task<List<UsuariosDTO>> ObtenerData()
    {

        return user = await usuarios.ObtieneUsuarios();
    }



}
